<%= render @articles %>
<%= will_paginate @articles %>
<div class="fixed-action-btn">
  <%= link_to new_article_path, 
    class: "btn-floating btn-large blue pulse tooltipped", 
    data: {tooltip: "Create article", position: "left"} do %>
    <i class="material-icons">add</i>
  <% end %>
</div>