 @import "variables";
 @import "https://fonts.googleapis.com/icon?family=Material+Icons";
 @import "materialize";
 @import "comments";
 @import "articles";
 @import "users";


.notice{
  @extend .green;
  @extend .darken-2;
}
.alert{
  @extend .red;
  @extend .accent-2;
}

.primary {
  background-color: $primary-color;
}

body {
  background-color: $primary-bg-color;
}
.nav-extended {
  background-color: $primary-color;
}
#user-dropdown-larger{
  margin-top: 62px;
}
#user-dropdown-small{
 margin-top: 60px;
}